# Environment
.env
.env.*
frontend/.env.local
backend/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Docker volumes
postgres_data/

# Node
frontend/node_modules/

# Laravel
backend/vendor/
backend/storage/*.key

# Laravel cache
backend/bootstrap/cache/*.php

# Next.js build
frontend/.next/

# Optional build output
frontend/out/

# Optional coverage
coverage/